@CHARSET "UTF-8";

.page-header, .alert {
	width: 780px;
}
hr {
    margin: 40px 0 20px;
    border-bottom: 0.01em solid #eee;
    width: 780px;
}

.text-muted {
	background: #ffffff url("../image/logo.png") no-repeat left center;
	line-height: 60px;
}

.text-muted span {
	font: normal bolder 20px/30px Segoe UI, Helvetica, Arial, sans-serif;
	margin-left: 90px;
}

.form-group .small {
	font: normal 600 14px Segoe UI, Helvetica, Arial, sans-serif;
	color: #666;
}

.form-group .button-group .btn {
	width: 182px;
}
.form-group .button-group .left {
	margin-left: 111px;
}

.form-group .button-group .btn-default,
.form-group .button-group .btn-default:hover {
	background: #B9B9B9 url("../image/cancel_icon.png") no-repeat 40px 6px;
	color: #333;
	border-color: #8F8F8F;
}
.form-group .button-group .btn-default:hover {
	background: #e6e6e6 url("../image/cancel_icon.png") no-repeat 40px 6px;
	border-color: #adadad;
}
.form-group .button-group .btn-primary,
.form-group .button-group .btn-primary:hover {
	/*background: #337ab7 url("../image/submit_icon.png") no-repeat 15px 6px;*/
	background: #2F85FA url("../image/submit_icon.png") no-repeat 15px 6px;
	color: #fff;
    border-color: #2e6da4;
}
.form-group .button-group .btn-primary:hover {
	background: #286090 url("../image/submit_icon.png") no-repeat 15px 6px;
	border-color: #204d74;
}
.dropdown .btn-default {
	width: 150px;
	text-align: left;
}
.form-horizontal {
	width: 100%;
}
.form-group {
    margin-bottom: 38px;
}


.form-control {
	width: 630px;
	height: 30px;
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 72px;
}

.form-horizontal .form-select .form-control-feedback {
    right: 130px;
}

.form-group .btn, .form-group .custom-width {
	width: 200px;
	height: 30px;
}

.input-group .form-control {
	width: 161px;	
}

select.form-control {
	width: 200px;	
}

.form-group .control-label span {
	color: #FF3300;
}

.form-group .left {
	margin-left: 55px;
}
.bottom-line {
	border-bottom: 1px solid #EEE;
}

.right-line {
	border-right: 1px solid #EEE;
	height: 600px;
}

.page-header small {
	font: normal 600 18px/30px Segoe UI, Helvetica, Arial, sans-serif;
}

.right-line .page-header {
	border-bottom: none;
	height: 30px;
}

.right-line .page-header small {
	color: #2F85FA;
}

.navbar {
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 60px;
}

.navbar-inverse {
	background-color: #FFF;
	border-color: #FFF;
}

.navbar-inverse .navbar-nav li a, 
.navbar-inverse .navbar-nav li a:hover {
	font: normal 600 14px Segoe UI, Helvetica, Arial, sans-serif;
	color: #333;
}

.navbar-inverse .navbar-nav li a:hover {
	color: #2F85FA;
}

.nav-pills a {
	font: normal 400 14px Segoe UI, Helvetica, Arial, sans-serif;
	color: #666;
	line-height: 10px;
}

.nav-pills a.bold {
	font: normal 600 14px Segoe UI, Helvetica, Arial, sans-serif;
	color: #333;
	line-height: 10px;
}

.nav-pills a.hightlight {
	font: normal 600 18px Segoe UI, Helvetica, Arial, sans-serif;
	color: #2F85FA;
	line-height: 10px;
}

.language-bar li a {
	padding-left: 2px;
	padding-right: 2px;
}

